<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">AdsList</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li *ngIf="user.isLoggedIn()">
					<a [routerLink]="['/Home']">Home</a>
				</li>
				<li *ngIf="user.isLoggedIn()">
					<a [routerLink]="['/MyAds']">My Ads</a>
				</li>
				<li *ngIf="user.isLoggedIn()">
					<a [routerLink]="['/About']">About</a>
				</li>
				<li *ngIf="user.hasRole('ADMIN')">
					<a [routerLink]="['/Admin/List']">Admin</a>
				</li>
				<li *ngIf="user.isLoggedIn()">
					<a href="/logout">[Logged in as {{user.current?.username}}]</a>
				</li>
				<li *ngIf="!user.isLoggedIn()">
					<a href="/login">[Log In]</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">A vulnerable Spring / Angular2 app</div>
		</div>
	</div>
</header>

<div>
	<router-outlet></router-outlet>
</div>
